---
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.14"

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run Black (Code Formatting)
        run: uv run black --check --diff .

      - name: Run Flake8 (Linting)
        run: uv run flake8 .

      - name: Run Mypy (Type Checking)
        run: uv run mypy .

      - name: Run Isort (Import Sorting)
        run: uv run isort --check-only --diff .
      
      - name: Run tests
        run: uv run pytest
