---
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry==2.2.1

      - name: Install dependencies
        run: poetry install

      - name: Install dependencies
        run: poetry install
      
      - name: Run Black (Code Formatting)
        run: poetry run black --check --diff .

      - name: Run Flake8 (Linting)
        run: poetry run flake8 .

      - name: Run Mypy (Type Checking)
        run: poetry run mypy .

      - name: Run Isort (Import Sorting)
        run: poetry run isort --check-only --diff .
      
      - name: Run tests
        run: poetry run pytest
